@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFDED;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222222;
    --foreground: #ededed;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
